/* Global Settings */

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}


/* Helper Classes */

.left {
    float: left;
}

.right {
    float: right;
}

.clear::after {
    content: "";
    clear: both;
    display: block;
}

.w-100 {
    width: 100%;
}

.row {
    display: flex;
}

.container {
    width: 1100px;
    margin: 0 auto;
}


/* Generic CSS */

#header {
    position: absolute;
    z-index: 10;
}

#main-navigation {}

#banner {
    position: relative;
    height: 600px;
    overflow: hidden;
}

#banner img {
    height: inherit;
}

#banner .snow-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#banner .snow {
    height: 600px;
    width: 100%;
    position: absolute;
    animation: anim_1 5s infinite linear;
}

#banner .large-snow {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");
    animation-duration: 8s;
}

#banner .medium-snow {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png");
    animation-duration: 10s;
}

#banner .small-snow {
    background-image: url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png");
    animation-duration: 12s;
}

#banner div[class*='snow-2'] {
    top: -100%;
    animation: anim_2 5s infinite linear;
    animation-delay: 4s;
}

#banner .large-snow-2 {
    animation-duration: 14s;
}

#banner .medium-snow-2 {
    animation-duration: 16s;
}

#banner .small-snow-2 {
    animation-duration: 18s;
}

@keyframes anim_1 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

@keyframes anim_2 {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}


/* #banner .large_1,
#banner .medium_1,
#banner .small_1 {
    animation-delay: 5s;
    transform: translateY(-100%);
}

@keyframes snowAnimation {
    0% {
        transform: translate(0%, -100%);
    }
    100% {
        transform: translate(5%, 100%);
    }
} */

#main {}

#sidebar {}

#footer {}


/* Specific CSS */